[submodule "premium-news-and-subscription"]
	path = premium-news-and-subscription
	url = https://github.com/gustavopelayo/premium-news-and-subscription.git
[submodule "job-tool"]
	path = job-tool
	url = git@github.com:gypelayo/job-tool.git
